= react_component "Workout", path: api_v1_workout_path,
                             bodyparts: Exercise::BODYPARTS,
                             exercise_levels: Exercise::EXERCISE_LEVELS,
                             rep_level: 1
